.publicacion-comentario{
    margin-top: 10px;
    margin-bottom: 10px;
}
.publicacion-descripcion p{
    margin: 0;
    padding: 0;
}
.publicacion-descripcion{
    padding: 10px;
}

.publicacion-encabezado{
    display: flex;
    align-items: center;
    padding: 10px;
}

.publicacion-encabezado img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
.publicacion-encabezado p{
    margin-left: 10px;
}

.publicacion-imagen button{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.publicacion-imagen img{
    width: 100%;
    height: auto;
}