.publicacion-ampliada{
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.publicacion-foto{
    background-color: rgba(128, 128, 128, 0.103);
}

.publicacion-foto img{
    width: auto;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.publicacion-informacion{
    margin-left: 5%;
}

.publicacion-informacion .publicacion-creador{
    border-bottom: 3px solid rgba(128, 128, 128, 0.103);
}

.publicacion-interacciones .interacciones{
    width: 60%;
}

.publicacion-likes p{
    margin:0;
    padding: 0;
}