.historia div img{
    width: 100px;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}
.historia div{
    margin-bottom: 0;
    padding-bottom: 0;
}
.historia p{
    text-align: center;
    margin: 0;
    padding: 0;
}