.historia img{
    border: 3px solid; /* Define el grosor del borde */
    border-image: linear-gradient(45deg, #ff007f, #7f00ff, #00ff7f, #ffff00) 1;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
}